
  /* ------------------------------------------------------------------ */
  .s-box {
    /* height: fit-content; */
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 5in;
    padding: 0.3in;
    margin: auto;
    margin-top: 1in;
  }
  
  .s-box h2 {
    color: black;
    text-align: center;
  }
  
  .s-box .sindiv .inp {
    width: 100%;
    padding: 10px 0;
    /* font-size: 16px; */
    color: rgb(24, 0, 0);
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }
  .imgInp{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .desArea{
    margin: 5px;
    width: 100%;
    height: 1in;
  }
  
  
  .sbutt {
    text-transform: uppercase;
    background-color: #ff497c;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
    padding: 10px;
    transition: 0.5s;
    width: 70;
    display: block;
    margin: auto;
    /* margin-left: 1.6in; */
    /* height: 0.3in; */
  }
  
  .sbutt:hover {
    transition: 0.5s;
    background: white;
    border-radius: 5px;
    color: #ff497c;
    box-shadow: 0 0 5px #ff497c, 0 0 5px #ff497c, 0 0 5px #ff497c, 0 0 5px #ff497c;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
  }
  .sbutt:focus{
    outline: none;
  }